.container {
  margin: 5px;
}

.error {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 10px auto;
  font-size: $font-16;
  border-left: 3px solid $color-danger;
  background-color: rgba(217, 83, 79, 0.1);
  color: $color-danger;
}
